.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background:  #212121;
   -fx-border-color:  #212121;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}



  .table-view .column-header .label {
    -fx-text-fill: #212121;
    -fx-font-weight: bold;
}  
    

  